header {
  padding: $indent-base;
  background-image: url('../assets/bg-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  &.empty {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

footer {
  padding: $indent-base;
  background: $color-gray-dark;
  .logo {
    text-align: center;
  }
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: $layout-max-width;
  margin: auto;
}

.logo {
  color: $color-red;
  font-size: $font-size__s;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .icon {
    width: 25px;
    height: 25px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2257%22%20height%3D%2257%22%20viewBox%3D%220%200%2057%2057%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%0A%3Cpath%20d%3D%22M1.82018%2051.887L15.3782%2037.786C11.8922%2033.642%209.98218%2028.428%209.98218%2023C9.98218%2010.318%2020.3002%200%2032.9822%200C45.6642%200%2055.9822%2010.318%2055.9822%2023C55.9822%2035.682%2045.6642%2046%2032.9822%2046C28.2212%2046%2023.6842%2044.564%2019.8052%2041.838L6.14418%2056.046C5.57318%2056.639%204.80518%2056.966%203.98218%2056.966C3.20318%2056.966%202.46418%2056.669%201.90318%2056.129C0.711179%2054.982%200.673179%2053.08%201.82018%2051.887ZM32.9822%206C23.6082%206%2015.9822%2013.626%2015.9822%2023C15.9822%2032.374%2023.6082%2040%2032.9822%2040C42.3562%2040%2049.9822%2032.374%2049.9822%2023C49.9822%2013.626%2042.3562%206%2032.9822%206Z%22%20fill%3D%22%23F65261%22/%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2256.966%22%20height%3D%2256.966%22%20transform%3D%22matrix%28-1%200%200%201%2056.9661%200%29%22%20fill%3D%22white%22/%3E%0A%3C/clipPath%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
}

.no-films {
  img {
    display: block;
    margin: $indent-medium auto;
  }
}
