.movie-list {
  display: flex;
  flex-wrap: wrap;
  max-width: $content-width;
  margin: auto;
  padding: 3rem 1rem;

  .no-films {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 300;
    color: #d3d3d3;
  }

  a {
    width: calc(100% / 3 - 2rem);
    margin-bottom: 3rem;
    cursor: pointer;
    text-decoration: none;

    &:nth-child(3n - 1) {
      padding: 0 3rem;
    }
  }
}

.movie-item {
  img {
    width: 100%;
  }

  h4 {
    color: $color-gray-light;
    margin-bottom: 0.3rem;
  }

  span {
    font-size: 0.7rem;
    font-weight: 300;
    color: $color-gray-light-1;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .date {
    font-weight: 300;
    color: #bdbdbd;
    border: 1px solid $color-gray;
    border-radius: 4px;
    padding: 0.4rem 0.8rem 0.2rem;
    font-size: 0.8rem;
  }

  &:hover {
    img {
      box-shadow: 0 0 52px $color-red;
      transition: 0.2s;
    }
  }
}

@media (max-width: 768px) {
  .movie-list {
    justify-content: space-between;
  }
  .movie-item {
    width: calc(100% / 2 - 1rem);

    &:nth-child(3n - 1) {
      padding: 0;
    }
  }
}
