{
  "parser": "babel-eslint",
  "rules": {
	  "no-unused-vars": "warn",
	  "indent": ["warn", 2],
	  "quotes": ["error", "single"],
	  "prettier/prettier": "error"
  },
  "env": {
	  "es6": true,
	  "browser": true,
	  "cypress/globals": true,
	  "jest": true
  },
  "extends": [
	  "eslint:recommended",
	  "plugin:react/recommended",
	  "plugin:prettier/recommended",
	  "plugin:cypress/recommended"
  ],
  "plugins": [
	  "react",
	  "prettier",
	  "cypress"
  ]  
}