//Colors
$color-red: #f65261;
$color-black: #232323;
$color-gray: #555555;
$color-gray-dark: #424242;
$color-gray-light: #bdbdbd;
$color-gray-light-1: #919191;
$color-white: white;
$color-green: #a1e66f;

//Font-size
$font-size__base: 1rem;
$font-size__s: $font-size__base * 1.5;
$font-size__m: $font-size__base * 2;
$font-size__l: $font-size__base * 3;

//Layout
$layout-max-width: 1240px;
$content-width: 1100px;

//Indent
$indent-base: 1rem;
$indent-medium: $indent-base * 2;
