@import 'partials/_variables';
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,800&display=swap');

$body__background: $color-black;

html {
  scroll-behavior: smooth;
}

body {
  background: $body__background;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: white;
  font-size: $font-size__l;
  padding: 0;
  font-weight: 200;
  letter-spacing: 2px;
}

h4 {
  font-weight: 300;
}

@import 'components/app';
@import 'components/search';
@import 'components/toolbar';
@import 'components/radiobutton';
@import 'components/movielist';
@import 'components/movieheader';
@import 'components/errorpage';
